.editor {
  width: 100%;
  height: 100%;

  &-material, &-panel {
    position: absolute;
    width: 270px;
    background: red;
    overflow-y: auto;
    top: 0;
    bottom: 0;

  }
  &-material {
    left: 0;
    &-item {
      width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      padding: 10px;
      box-sizing: border-box;
      cursor: move;
      -webkit-user-select: none;
      user-select: none;
      min-height: 80px;
      position: relative;
      > span {
        position: absolute;
        top: 0;
        left: 0;
        padding: 2px 4px;
        background-color: lightblue; 
      }
      &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: white;
          opacity: 0.3;
        }
    }
  }
  &-panel {
    right: 0;

  }
  &-menu {
    position: absolute;
    right: 280px;
    left: 280px;
    height: 80px;
    background: blue;

  }
  &-container {
    padding: 80px 270px 0;
    height: 100%;
    box-sizing: border-box;

    &-canvas {
      overflow: auto;
      height: 100%;
      &__content {
        margin: 20px auto;
        background: yellow;
        position: relative;
      }
    }
  }
}

.editor-block {
  position: absolute;
}